#btmenu {
    float: right;
    margin-right: 30px;
    margin-top: 25px;
    width: 80px;
    height: 35px;
    color: white;
    background-color: #A9CFE5;
    border-color: #A9CFE5;
          }
header {
    background-color: #12577B;
}
footer {
    background-color: #12577B;
    margin-top: 612px;
    height: 44px;
    text-align: center;
}
#rodape {
    color: white;
    margin-top: 15px;
}
body {
    border: 0;
    padding: 0;
    margin: 0;
    background-color: #F7F7F7;
    }
h2 {
    text-align: center;
}
h1 {
    text-align: center;
    margin-top: 50px;
}
#footer2 {
    background-color: #12577B;
    margin-top: 753px;
    height: 44px;
    text-align: center;
}
#objetivo {
    text-align: center;
}
 .curso {
    margin-top: 50px;
    margin-left: -30px;
    list-style-position: inside;
    text-align: center;
}
#curs{
    text-align: center;
}
#sobre {
    margin-top: 50px;
}
#voluntario {
    margin-top: 50px;
}
#habilidades {
    margin-top: 50px;
}
